/* --------------------carousel-------------------- */
#myCarousel {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 540px;
}

#myCarousel img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 540px;
}

.carousel-inner {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 5px;
    position: relative;
}
/* --------------------carousel-------------------- */

/* --------------------home-page-route-links-grid-------------------- */
#home-page-route-links-grid img {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin-bottom: 5px;
}
/* --------------------home-page-route-links-grid-------------------- */

/* --------------------title-underline-------------------- */
.title-underline h3 {
    text-decoration: underline;
}
.title-underline h4 {
    text-decoration: underline;
}
.title-underline h5 {
    text-decoration: underline;
}
/* --------------------title-underline-------------------- */

/* --------------------google-maps-route-------------------- */
#goole-maps-route-detail iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
/* --------------------google-maps-route-------------------- */

/* --------------------google-maps-parking-------------------- */
#goole-maps-parking-detail iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
/* --------------------google-maps-parking-------------------- */

/* --------------------user-review-grids-------------------- */
#user-review-grids img {
    width: auto;
    max-width: 50%;
    height: auto;
    max-height: 50%;
    border-radius: 50%;
}
/* --------------------user-review-grids-------------------- */