/* --------------------all-website-page-text-------------------- */
body {
    font-family: 'Nunito', sans-serif;
}
/* --------------------all-website-page-text-------------------- */

/* --------------------home-page-main-text-------------------- */
#home-page-main-text h2 {
    color: #343a34;
    margin-top: 1em;
}

#home-page-main-text p {
    color: #343a34;
    margin-top: 1em;
}
/* --------------------home-page-main-text-------------------- */

/* --------------------home-page-routes-grid-------------------- */
.card-body {
    background-color: #343a34;
    color: white;
    text-align: center;
}

.card {
    margin-top: 1em;
    margin-bottom: 2em;
}

.card img {
height: auto;
max-height: 30em;
width: auto;
max-width: 40em;
}
/* --------------------home-page-routes-grid-------------------- */

/* --------------------title-underline-------------------- */
.title-underline h2 {
    text-decoration: underline;
}
.title-underline h4 {
    text-decoration: underline;
}
.title-underline h5 {
    text-decoration: underline;
}
/* --------------------title-underline-------------------- */

/* --------------------google-maps-route-------------------- */
#goole-maps-route-detail iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
/* --------------------google-maps-route-------------------- */

/* --------------------google-maps-parking-------------------- */
#goole-maps-parking-detail iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
/* --------------------google-maps-parking-------------------- */

/* --------------------user-review-grids-------------------- */
#user-review-grids img {
    width: auto;
    max-width: 50%;
    height: auto;
    max-height: 50%;
    border-radius: 50%;
}
/* --------------------user-review-grids-------------------- */

/* --------------------flex-box-fix-bottom-footer-------------------- */
body, wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}
/* --------------------flex-box-fix-bottom-footer-------------------- */

/* --------------------footer-colour-------------------- */
#social-media-icons i {
    color: white;
    margin-top: 0.5em;
}
/* --------------------footer-colour-------------------- */

/* --------------------submit-route-form-------------------- */
#submit-route-form h2 {
    text-decoration: underline;
    color: #343a34;
}

#submit-route-form {
    margin-top: 3em;
    margin-bottom: 3em;
}
/* --------------------submit-route-form-------------------- */

/* --------------------background-image-------------------- */
#main-content-wrapper {
    background-color: #99c2ff;
}
/* --------------------background-image-------------------- */